// Color Variables
$prim-c: #fafafa;
$sec-c: #220000;

// Social colors 
$instagram-c: #cc0068;
$twitter-c: #1da1f2;
$youtube-c: #f80000;
$facebook-c: #39579b;

// Shadow
$shadow: 0 5px 15px rgba($sec-c, 0.5);

// bg image
$bg-img: url(/photos/background.jpg);

// Responsive
$table-L: 1024px;
$tablet: 768px;
$phone: 375px;
